ul { list-style-type: none; }
body { background-color: #303030; } /*slate grey*/

.pad { margin-left: 5em; }
.pad-top { margin-top: 1.5em; }
.readme a { text-decoration: none; }
.readme { padding-top: 2em; padding-bottom: 2em; }
.input-section { padding-top: 1em; padding-bottom: 10em; }
.send { margin-left: 2em; margin-top: 1em; }
.icons-top { margin-top: 1em; padding-left: 60px; }
.icons-ext { margin-top: 1.6em; padding-left: 60px; }
.grey300-text { color: #E0E0E0; }
.welcome { margin-left: 4.5em; margin-top: 3em; }
.border { border-style: groove; width: 42em; height: 32em; margin-left: 5em; }
.center { justify-content: center; }
.light { width: 100%; height: 300px; background-color: #fff; align-items: center; justify-content: center; }
.mdl-center { text-align: center; }
.picture { width: 100%; height: 525px; }
.index-h1 { font-size: 2em; color: #fff; font-weight: 100; text-align: center; }
.profile-h1 { font-size: 2em; color: #fff; font-weight: 100; margin-left: 2.5em; }
.profile-done { margin-left: 5em; margin-top: 6.1em; }
.profile-edit { margin-left: 5em; }
.warn { margin-left: 5em; color: red; }

.right { margin-right: 7em; }
.left { margin-left: 5em; }
.inline { display:inline-block; margin-right:5px; }

.material-icons.grey300 { color: #E0E0E0; } /*light grey*/
.mdl-textfield__input { border-bottom: 1px solid #E0E0E0; color: #E0E0E0; } /*light grey*/
.mdl-textfield__label { color: #9E9E9E; } /*dark grey*/
.mdl-grid.center-items { justify-content: center; }
.mdl-button--raised { min-width: 180px; margin: 10px; min-height: 50px; padding: 0; line-height: 50px; float: center; }
.mdl-button--fab.mdl-button--colored { background: #2196F3; }
.card-wide.mdl-card { width: 512px; background: #303030; align-items: center; justify-content: center; }

#log { height: 350px; width: 500px; overflow-y: auto; background-color: #E3F2FD; } /*light grayish blue*/
