.centered {
  text-align: center;
  font-size: 200%;
}

.pad {
  margin-left: 5em;
}

.pad_top {
  margin-top: 1.5em;
}

.download a {
  text-decoration: none;
}

.download {
  padding-top: 1em;
  padding-bottom: 1em;
}

.input_section {
  padding-top: 1em;
  padding-bottom: 10em;
}

ul {
  list-style-type: none;
}

.pad_send {
  margin-left: 2em;
}

.scroll {
  background-color: #E3F2FD;
  width: 400px;
  height: 200px;
  overflow: scroll;
}

.border {
  border-style: groove;
  width: 35em;
  height: 22em;
  margin-left: 5em;
}
