ul { list-style-type: none; }
body { background-color: #303030; } /*slate grey*/

.pad { margin-left: 5em; }
.pad-top { margin-top: 1.5em; }
/* .readme a { text-decoration: none; } */
.readme { padding-top: 1em; padding-bottom: 1em; }
.input-section { padding-top: 1em; padding-bottom: 10em; }
.send { margin-left: 2em; }
.icons-top { margin-top: 1em; padding-left: 60px; }
.icons-ext { margin-top: 1.6em; padding-left: 60px; }

.material-icons.grey300 { color: #E0E0E0; } /*light grey*/
.mdl-textfield__input { border-bottom: 1px solid #E0E0E0; color: #E0E0E0; } /*light grey*/
.mdl-textfield__label { color: #9E9E9E; } /*dark grey*/
.mdl-grid.center-items { justify-content: center; }

.scroll {
  background-color: #E3F2FD; /*light grayish blue*/
  width: 400px;
  height: 200px;
  overflow: scroll;
}

.border {
  border-style: groove;
  width: 35em;
  height: 22em;
  margin-left: 5em;
}
