<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8"/>
<!-- Material -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<!-- custom -->
<link href="{{ url_for('static', filename='style.css') }}" type="text/css" rel="stylesheet">
<title>Index</title>
</head>

<body>
  <p class="centered">index.html</p>

  <!-- Textfield with Floating Label -->
  <form method="POST" action="/">
    <div class="row pad">
      <p>{{ warning }}</p>
      <p>{{ name_err }}</p>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="username">
        <label class="mdl-textfield__label" for="sample3">username</label>
      </div>
    </div>
    <div class="row pad">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="password">
        <label class="mdl-textfield__label" for="sample3">password</label>
      </div>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored pad" type="submit">
      Submit
    </button>
  </form>
</body>

</html>
