{% extends "layout.html" %}
{% block title %}Profile{% endblock %}
{% block profile %}
          {% if session['editing'] == False %}
          <form class="profile-done" method="POST">
            <div>
              <div class="mdl-textfield mdl-js-textfield">
                <label class="mdl-textfield__label">username</label>
                <input class="mdl-textfield__input" type="text" name="username" value="{{ user }}" readonly>
              </div>
            </div>
            <div>
              <div class="mdl-textfield mdl-js-textfield">
                <label class="mdl-textfield__label">email</label>
                <input class="mdl-textfield__input" type="text" name="email" value="{{ email }}" readonly>
              </div>
            </div>
            <div>
              <div class="mdl-textfield mdl-js-textfield">
                <label class="mdl-textfield__label">first name</label>
                <input class="mdl-textfield__input" type="text" name="first name" value="{{ first_name }}" readonly>
              </div>
            </div>
            <div>
              <div class="mdl-textfield mdl-js-textfield">
                <label class="mdl-textfield__label">last name</label>
                <input class="mdl-textfield__input" type="text" name="last name" value="{{ last_name }}" readonly>
              </div>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit" name="edit">
              edit
            </button>
          </form>
          {% endif %}
          {% if session['editing'] == True %}
          <h1 class="profile-h1">Editing profile fields...</h1>
          <form class="profile-edit" method="POST">
            <div>
              <div class="mdl-textfield mdl-js-textfield">
                <label class="mdl-textfield__label">username</label>
                {{ form.username(class="mdl-textfield__input", type="text", value=user) }}
              </div>
            </div>
            <div>
              <div class="mdl-textfield mdl-js-textfield">
                <label class="mdl-textfield__label">email</label>
                {{ form.email(class="mdl-textfield__input", type="text", value=email) }}
              </div>
            </div>
            <div>
              <div class="mdl-textfield mdl-js-textfield">
                <label class="mdl-textfield__label">first name</label>
                {{ form.first_name(class="mdl-textfield__input", type="text", value=first_name) }}
              </div>
            </div>
            <div>
              <div class="mdl-textfield mdl-js-textfield">
                <label class="mdl-textfield__label">last name</label>
                {{ form.last_name(class="mdl-textfield__input", type="text", value=last_name) }}
              </div>
            </div>
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit" name="done">
              done
            </button>
          </form>
          {% endif %}
{% endblock %}
