<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<!-- Material -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<!-- custom -->
<link href="{{ url_for('static', filename='style.css') }}" type="text/css" rel="stylesheet">
<title>Profile</title>
</head>
<body>
  <p class="centered">profile.html</p>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <p class="pad">{{ message }}</p>
    {% endif %}
  {% endwith %}

  <p class="pad">{{ username }}'s profile</p>

</body>
</html>
