{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block register %}
  <section class="input_section mdl-color--blue-50">
    <h4 class="mdl-typography--text-center">register.html</h4>
    {% if form.errors %}
      <div class="errors pad">
        {% for field in form.errors %}
        {% for error in form.errors[field] %}
        <p>{{field}}: {{ error }}</p>
        {% endfor %}
        {% endfor %}
      </div>
    {% endif %}
    <p class=pad>{{ warn }}</p>

    <form method="POST" action="/register">
      <div class="row pad">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          {{ form.username(class_="mdl-textfield__input") }}
          <label class="mdl-textfield__label">username</label>
        </div>
      </div>

      <div class="row pad">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          {{ form.password(class_="mdl-textfield__input") }}
          <label class="mdl-textfield__label">password</label>
        </div>
      </div>

      <div class="row pad">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          {{ form.email(class_="mdl-textfield__input") }}
          <label class="mdl-textfield__label">email</label>
        </div>
      </div>

      <div class="row pad">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          {{ form.first_name(class_="mdl-textfield__input") }}
          <label class="mdl-textfield__label">first name</label>
        </div>
      </div>

      <div class="row pad">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          {{ form.last_name(class_="mdl-textfield__input") }}
          <label class="mdl-textfield__label">last name</label>
        </div>
      </div>

      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored pad" type="submit">
        Submit
      </button>
    </form>
  </section>
{% endblock %}
