{% extends "layout.html" %}
{% block title %}Register{% endblock %}
{% block custom %}
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" charset="utf-8">
{% include "custom.js" %}
</script>
{% endblock %}
{% block register %}
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--5-col">
    {% if form.errors %}
      <div class="errors pad">
        {% for field in form.errors %}
        {% for error in form.errors[field] %}
        <p>{{ error }}</p>
        {% endfor %}
        {% endfor %}
      </div>
    {% endif %}
    <p class=pad>{{ warn }}</p>
    </div>
    <div class="mdl-cell mdl-cell--1-col">
      <div><i class="material-icons grey300 icons-top" id="mood">mood</i></div>
      <div><i class="material-icons grey300 icons-ext" id="lock">lock</i></div>
      <div><i class="material-icons grey300 icons-ext" id="mail">mail</i></div>
      <div><i class="material-icons grey300 icons-ext" id="account_circle">account_circle</i></div>
      <div><i class="material-icons grey300 icons-ext" id="account_box">account_box</i></div>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
    <form method="POST" action="/register">
      <div>
        <div class="mdl-textfield mdl-js-textfield">
          {{ form.username(class="mdl-textfield__input", type="text", id="username") }}
          <label class="mdl-textfield__label" for="username">username</label>
        </div>
      </div>
      <div>
        <div class="mdl-textfield mdl-js-textfield">
          {{ form.password(class="mdl-textfield__input", type="text", id="password") }}
          <label class="mdl-textfield__label" for="password">password</label>
        </div>
      </div>
      <div>
        <div class="mdl-textfield mdl-js-textfield">
          {{ form.email(class="mdl-textfield__input", type="text", id="email") }}
          <label class="mdl-textfield__label" for="email">email</label>
        </div>
      </div>
      <div>
        <div class="mdl-textfield mdl-js-textfield">
          {{ form.first_name(class="mdl-textfield__input", type="text", id="first_name") }}
          <label class="mdl-textfield__label" for="first_name">first name</label>
        </div>
      </div>
      <div>
        <div class="mdl-textfield mdl-js-textfield">
          {{ form.last_name(class="mdl-textfield__input", type="text", id="last_name") }}
          <label class="mdl-textfield__label" for="last_name">last name</label>
        </div>
      </div>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">
        Submit
      </button>
    </form>
    </div>
  </div>
{% endblock %}
